@import "./Styles/normalize.css";
@import "./Styles/layout.css";
@import "./Styles/projects.css";
@import "./Styles/common.css";

:root {
  /* Theme  */
  --brandPrimary: #123456;
  --brandSecondary: #7b8e9e;

  /* Spacing  */
  --xs-space: 0.15rem;
  --sm-space: 0.25rem;
  --md-space: 0.5rem;
  --lg-space: 1rem;
  --xl-space: 3rem;
}

body {
  background: var(--brandSecondary);
}

.header-content {
  max-width: 1140px;
  margin: auto;
}

.header-content p {
  margin-top: -10px;
}

.social-nav-bar {
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: center;
  margin-top: var(--sm-space);
}

#toggle-nav {
  background: none;
  border: none;
}

#nav-menu.hidden {
  display: none;
  visibility: none;
}

#nav-menu.show {
  position: absolute;
  right: 0;
  padding: var(--md-space);
  width: 100px;
  background: rgb(201, 136, 136);
  display: flex;
  flex-direction: column;
}

.social-icons > a {
  color: var(--brandPrimary);
  margin-right: 15px;
}
