@import "./Styles/normalize.css";
@import "./Styles/layout.css";
@import "./Styles/skills.css";
@import "./Styles/projects.css";
@import "./Styles/about.css";
@import "./Styles/common.css";
@import "./Styles/contact.css";
@import "./Styles/photo-credit.css";
/* @import "./Styles/roadmap.css"; */
@import "./Styles/testing.css";

:root {
  /* Theme  */
  --sky-frost: #e5f5ff;
  --sunset-haze: #ffe9db;
  --peach-light: #ffd4b9; /* *** */
  --rosy-blush: #fea6cc;
  --orchid-glow: #e0bbf8;
  --crystal-blue: #99d5fa;
  --rose-amethyst: #d383c8;
  --luminous-lilac: #a483d3; /* *** */
  --azure-breeze: #3f99d2; /* *** */
  --magenta: #b53da1;
  --royal-purple: #642aa5;
  --electric-indigo: #4321a9;
  --cosmic-navy: #140655;

  --success: #61ff61;
  --error: #ff6161;

  --dark: #010101;
  --light: #e3f8f8;
  --neutral-100: #f2f2f2;
  --neutral-200: #d9d9d9;
  --neutral-300: #cfcfcf;
  --neutral-400: #9c9c9c;
  --neutral-500: #828282;
  --neutral-600: #666666;
  --neutral-700: #4d4d4d;
  --neutral-800: #333333;
  --neutral-900: #1a1919;

  /* --darkThemeText: var(--sky-frost); */
  --darkThemeText: var(--neutral-300);
  --lightThemeText: var(--cosmic-navy);

  /* Spacing  */
  --xs-space: 0.15rem;
  --sm-space: 0.25rem;
  --md-space: 0.5rem;
  --lg-space: 1rem;
  --xl-space: 2rem;
  --xxl-space: 3rem;
}

::selection {
  background: var(--electric-indigo);
}

.wrapper.home {
  background: #000 url("./assets/images/spiderwebPhotoclusterField.webp")
    no-repeat top center;
  background-size: cover;
}

/* =======================

/* Header:  Intro Section
   (Intro and Navigation)

/* ======================= */

header > .intro-section {
  background: rgba(0, 0, 0, 0.6);
  padding: var(--md-space);
  backdrop-filter: blur(3px);
  position: relative;
  z-index: 90;
}

.intro-section > img {
  width: min(calc(75vw - 6em), 600px);
}

.intro-section > p {
  margin-top: -10px;
  font-size: calc(0.4rem + 1vw);
  color: var(--darkThemeText);
}

#toggle-nav {
  position: fixed;
  top: var(--md-space);
  right: var(--md-space);
  color: var(--azure-breeze);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 999;
}

.bar {
  background-color: var(--azure-breeze);
  font-size: 1.5rem;
  height: 3px;
  width: 25px;
  margin: 6px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#nav-menu.show {
  max-height: 100vh;
  z-index: 998;
  overflow: hidden;
}

#nav-menu.show .bar1 {
  transform: translateY(9px) rotate(45deg);
}

#nav-menu.show .bar2 {
  opacity: 0;
}

#nav-menu.show .bar3 {
  transform: translateY(-9px) rotate(-45deg);
}

#nav-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  background-image: url("./assets/images/projects/stars.webp");
  max-height: 0; /* Start collapsed */
  overflow: hidden;
  transition: max-height 0.5s ease-in-out; /* Smooth unfolding */
  /* height: 100vh; */
  z-index: 101;
}

#nav-menu ul {
  list-style: none;
  position: relative;
  height: 100vh;
  padding: 0px;
  max-width: 992px;
  margin: 0 auto;
}

#nav-menu li {
  position: absolute;
  transition: transform 0.3s ease;
}

#nav-menu a {
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #00f;
  padding: 10px;
  transform: scale(1.1);
}

#nav-menu li {
  margin: 15px 0;
}

/* Initial positions for each link */
#nav-menu li:nth-child(1) {
  top: 8%;
  left: 8%;
  animation: float1 4s infinite ease-in-out;
}

#nav-menu li:nth-child(2) {
  top: 10%;
  right: 20%;
  animation: float2 5s infinite ease-in-out;
}

#nav-menu li:nth-child(3) {
  top: 37%;
  left: 26%;
  animation: float3 6s infinite ease-in-out;
}

#nav-menu li:nth-child(4) {
  top: 60%;
  left: 50%;
  animation: float4 6s infinite ease-in-out;
}

/* Floating animations */
@keyframes float1 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(15px, -10px);
  }
}

@keyframes float2 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, 15px);
  }
}

@keyframes float3 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, 5px);
  }
}

@keyframes float4 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-22px, 5px);
  }
}

#nav-menu a {
  color: var(--darkThemeText);
  text-decoration: none;
  font-size: 1.2rem;
}

#nav-menu a:hover {
  text-decoration: underline;
}

/* =======================

/* Header:  Action Section

/* ======================= */

header > .action-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  padding: var(--md-space);
  transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

@media screen and (min-width: 768px) {
  .header > .action-section {
    padding: var(--xl-space) var(--md-space);
  }
}

header > .action-section.transparent {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px); /* Moves it slightly up for a natural effect */
}

#contact-me-cta {
  padding: var(--md-space);
  border-radius: 0.25rem;
  margin: var(--lg-space) auto;
  align-self: center;
  animation: glow 1.5s infinite ease-in-out; /* Glow animation */
}

/* Glow Animation Keyframes */
@keyframes glow {
  0% {
    box-shadow: 0 0 5px var(--azure-breeze); /* Starting glow */
  }
  50% {
    box-shadow: 0 0 20px var(--azure-breeze); /* Peak glow */
    transform: scale(1.1);
  }
  100% {
    box-shadow: 0 0 5px var(--azure-breeze); /* Back to start */
  }
}

#contact-me-cta:hover {
  background-color: var(--azure-breeze);
  color: black;
}

.social-icons {
  display: flex;
  flex-direction: column;
}

.social-icons > a {
  font-size: 0.75rem;
  color: var(--azure-breeze);
  margin-bottom: var(--md-space);
  max-width: 20px;
  cursor: pointer;
}

/* =========================

/* Scroll to Top Button

/* ======================== */

#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--azure-breeze);
  box-shadow: 0 0 5px 5px var(--azure-breeze);
  color: black;
  padding: var(--md-space);
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 9;
}

#scrollToTop.show {
  opacity: 1;
}

/* =========================

/* User Feedback

/* ======================== */

.warning-message {
  color: var(--error);
}
