@import "./Styles/normalize.css";
@import "./Styles/layout.css";
@import "./Styles/projects.css";
@import "./Styles/skills.css";
@import "./Styles/common.css";

/* Animations */
@import "./Styles/animations/clouds.css";
@import "./Styles/animations/twinkling-stars.css";

:root {
  /* Theme  */
  --brandPrimary: #123456;
  --brandSecondary: #7b8e9e;
  --brandPrimary: #00ffff;

  /* Spacing  */
  --xs-space: 0.15rem;
  --sm-space: 0.25rem;
  --md-space: 0.5rem;
  --lg-space: 1rem;
  --xl-space: 3rem;
}

/* ===================

/* Header 

/* =================== */

/* .header-content,
.footer-content {
  max-width: 1140px;
  margin: auto;
} */

/* .header-content,
.section-content {
  position: relative;
  background: black;
  padding: var(--md-space);
} */

/* .section-content {
  background: black;
} */

.header-content p {
  margin-top: -10px;
}

#toggle-nav {
  position: absolute;
  top: var(--lg-space);
  right: var(--md-space);
  background: none;
  border: none;
  color: var(--brandSecondary);
}

#contact-me-cta {
  display: block;
  margin: var(--xl-space) auto;
}

#nav-menu.hidden {
  display: none;
  visibility: none;
}

#nav-menu.show {
  position: absolute;
  right: 0;
  padding: var(--md-space);
  width: 100px;
  background: rgb(201, 136, 136);
  display: flex;
  flex-direction: column;
}

.social-icons {
  display: flex;
  width: 20px;
}

.social-icons > a {
  color: var(--brandPrimary);
  margin-right: var(--md-space);
}

/* ===================

/* SKILLS 

/* =================== */

.skills-1,
.skills-2 {
  display: flex;
  padding: var(--sm-space);
  justify-content: space-around;
  /* border-top: 2px solid red; */
  /* border-bottom: 2px solid red; */
}
