#about {
  background: #000 url("../assets/images/unfoldTheUniverse.webp") no-repeat
    center center;
  backdrop-filter: blur(5px);
  background-size: cover;
  /* padding: var(--xl-space) 0; */
}

#about::before {
  content: "";
  position: absolute;
  inset: 0; /* Covers entire parent */
  backdrop-filter: blur(5px);
  z-index: 0; /* Behind content */
  pointer-events: none; /* Makes sure it doesn't interfere */
}

#about > * {
  position: relative; /* Bring content above the blur layer */
  z-index: 1;
}

#about > .section-container > .developing,
.sub-about {
  background: black;
  padding: var(--md-space);
  margin: var(--lg-space) 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px var(--neutral-700);
}

.sub-about h3 {
  margin-bottom: var(--lg-space);
  text-decoration: underline;
  text-decoration-color: transparent;
  /* text-shadow: 0px 3px 5px rgba(var(--rosy-blush-rgb), 0.7);/ */
}
