.skills-parallax {
  background-image: url("../assets/images/skills.png");
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 250px;
  background-size: 50%;
}

.parallax {
  background-image: url("../assets/images/skills.png");
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.parallax2 {
  background-image: linear-gradient(red, yellow, blue);
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.parallax3 {
  /* background-image: url("../assets/images/LunaTrixLogo_Round.png"); */
  background-image: linear-gradient(purple, pink, blue);
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}
