.lazy-bg,
.main-parallax {
  background-color: #000; /* fallback color */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-parallax {
  /* background-image: url("../assets/images/parallax/plethoraOfCarbonMolecules.webp"); */
  min-height: 300px;
  width: 100%;
  margin: auto;
  border-radius: 2%;
  /* box-shadow: 0 0 8px 5px #070604 inset; */

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 10%;
  background-size: cover;
}

.hobbies-parallax {
  /* background-image: url("../assets/images/parallax/A-vibrant-Aurora-Borealis.webp"); */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

@media (max-width: 575px) {
  .main-parallax,
  .hobbies-parallax {
    min-height: 150px;
  }
}

.end-about-parallax {
  /* background-image: url("../assets/images/parallax/A-vibrant-Aurora-Borealis-2.webp"); */
  min-height: 600px;

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .end-about-parallax {
    min-height: 400px;
  }
}

@media (max-width: 575px) {
  .end-about-parallax {
    min-height: 225px;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in, transform 0.5s ease-in;
}

.fade-in.visible {
  opacity: 1;
}

.fade-in-left {
  opacity: 0;
  transform: translateX(15px); /* Start completely off-screen */
  transition: opacity 0.8s ease-in, transform 0.8s ease-in;
}

.fade-in-right {
  opacity: 0;
  transform: translateX(-15px); /* Start completely off-screen */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-left.visible,
.fade-in-right.visible {
  opacity: 1;
  transform: translateX(0); /* Moves to original position */
}

/* =========================

/* Accessibility Styles

/* ======================== */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* =========================

/* Global Button Styles

/* ======================== */
#home-btn {
  position: absolute;
  top: var(--md-space);
  right: var(--md-space);
  z-index: 90;
}

.link-btn {
  text-decoration: none;
  z-index: 90;
  padding: var(--sm-space);
  border-radius: 0.25rem;
}

.btn-azure {
  color: var(--azure-breeze);
  border: 1px solid var(--azure-breeze);
  background: black;
  box-shadow: 2px 1px 5px var(--azure-breeze);
  color: var(--azure-breeze);
}

.btn-azure:hover {
  background-color: var(--azure-breeze);
  color: black;
}

a {
  color: var(--crystal-blue);
  /* font-weight: 800; */
}

a:hover {
  color: var(--azure-breeze);
}

.photo-cred,
.version {
  font-size: 10px;
}

hr {
  margin: var(--lg-space) 0;
}
