.wrapper.contact {
  background-image: url("../assets/images/stars_with_clouds.webp");
  background-position: center center;
  background-size: cover;
}

#contact {
  padding: var(--xl-space) 0;
}

#home-btn {
  position: absolute;
  top: var(--md-space);
  right: var(--md-space);
  color: var(--azure-breeze);
  cursor: pointer;

  padding: var(--sm-space);
  border-radius: 0.25rem;
  border: 1px solid var(--azure-breeze);
  background: black;
  box-shadow: 2px 1px 5px var(--azure-breeze);
  color: var(--azure-breeze);
}

#home-btn:hover {
  background-color: var(--azure-breeze);
  color: black;
}

.form-wrapper {
  /* width: 95%; */
  margin: var(--lg-space) auto;
  max-width: 1140px;
  padding: var(--lg-space);
  background: rgba(0, 0, 0, 0.5);
}

form {
  width: 90%;
  max-width: 420px;
  margin: auto;
  padding: var(--md-space);
  background: var(--neutral-700);
}

.chroma-input {
  display: block;
  margin-bottom: 1rem;
}

input,
textarea {
  width: 100%;
}

.chroma-input label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

button[type="submit"] {
  padding: var(--sm-space);
  border-radius: 0.25rem;
  border: 1px solid var(--azure-breeze);
  background: black;
  box-shadow: 2px 1px 5px var(--azure-breeze);
  color: var(--azure-breeze);
  margin: var(--lg-space) auto;
  cursor: pointer;
}
