.wrapper.contact {
  background-image: url("../assets/images/stars_with_clouds.webp");
  background-position: center center;
  background-size: cover;
}

#contact {
  padding: var(--xl-space) 0;
}

#home-btn {
  position: absolute;
  top: var(--md-space);
  right: var(--md-space);
  color: var(--azure-breeze);
  cursor: pointer;

  padding: var(--sm-space);
  border-radius: 0.25rem;
  border: 1px solid var(--azure-breeze);
  background: black;
  box-shadow: 2px 1px 5px var(--azure-breeze);
  color: var(--azure-breeze);

  z-index: 90;
}

#home-btn:hover {
  background-color: var(--azure-breeze);
  color: black;
}

.form-wrapper {
  margin: var(--lg-space) auto;
  max-width: 1140px;
  padding: var(--lg-space);
  background: rgba(0, 0, 0, 0.7);
}

form {
  width: 90%;
  max-width: 420px;
  margin: auto;
  padding: var(--md-space);
  background: var(--neutral-700);
  border-radius: 8px;
}

.chroma-input {
  display: block;
  margin-bottom: 1rem;
}

.chroma-input input {
  height: 2rem;
}

input,
textarea {
  width: 100%;
  max-width: 100%;
  background: var(--neutral-600);
  color: var(--darkThemeText);
  border: none;
  border: 0.5px solid var(--peach-light);
  border-radius: 0.2rem;
  outline: none;
  padding-left: var(--sm-space);
  font-size: 16px;
}

input:focus,
textarea:focus {
  border: 1px solid var(--peach-light);
  border-left: 10px solid var(--peach-light);
  box-shadow: 0 0 4px 2px var(--peach-light);
}

textarea {
  resize: none;
  overflow: hidden; /* Hides scrollbar */
  min-height: 100px;
  box-sizing: border-box; /* Includes padding in height calculation */
}

.chroma-input label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

#char-count {
  /* font-size: 0.5rem; */
  font-size: calc(10px + 0.5vw);
  transition: color 0.3s, font-size 0.3s; /* Smooth transition for size and color */
}

button[type="submit"] {
  padding: var(--sm-space);
  border-radius: 0.25rem;
  border: 1px solid var(--azure-breeze);
  background: black;
  box-shadow: 2px 1px 5px var(--azure-breeze);
  color: var(--azure-breeze);
  margin: var(--lg-space) auto;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: var(--azure-breeze);
  color: black;
}
