/* ======================= */
/*    Dynamic Layout       */
/* ======================= */

body {
  padding-bottom: calc(
    var(--footer-height, 0px)
  ); /* Reserve dynamic footer space */
  height: 100%;
  z-index: 0;

  color: var(--darkThemeText);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: black;
}

body.no-scroll {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%; /* Full-width header */
}

main {
  flex: 1; /* Grow to fill available space */
  overflow-y: auto; /* Scroll if content overflows */

  width: 100%;
}

.section-container {
  padding: var(--lg-space);
  max-width: 1140px;
  margin: auto;
}

footer {
  background: black;

  padding: var(--md-space);

  /* position: sticky; */
  /* bottom: 0; */

  width: 100%; /* Full-width footer */
}

.wrapper::after {
  content: "";
  height: var(--footer-height, 0px);
  display: block;
  flex-shrink: 0;
}
