/* ======================= */
/*    Dynamic Layout       */
/* ======================= */

html {
  height: 100%;
}

body {
  padding-bottom: calc(
    var(--footer-height, 0px)
  ); /* Reserve dynamic footer space */
  height: 100%;

  background: black;
  /* color: var(--brandSecondary); */
  color: white;
  background: #000 url("../assets//images/Parallax/unfoldTheUniverse_2.jpg")
    repeat top center;
  z-index: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%; /* Full-width header */

  /* background: rgb(19, 19, 19); */
  /* background: #000 url("../assets/images/animations/stars-2.png") repeat top
    center; */

  background: black;
}

main {
  flex: 1; /* Grow to fill available space */
  overflow-y: auto; /* Scroll if content overflows */

  /* max-width: 1140px; */
  width: 100%;
  /* margin: auto; */
}

.section-content {
  max-width: 1140px;
  margin: auto;
}

footer {
  background: black;

  padding: var(--md-space);

  /* position: sticky; */
  /* bottom: 0; */

  width: 100%; /* Full-width footer */
}

.wrapper::after {
  content: "";
  height: var(--footer-height, 0px);
  display: block;
  flex-shrink: 0;
}
