/* ======================= */
/*    Dynamic Layout       */
/* ======================= */

body {
  padding-bottom: calc(
    var(--footer-height, 0px)
  ); /* Reserve dynamic footer space */
  height: 100%;
  z-index: 0;

  color: var(--darkThemeText);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: black;
}

body.no-scroll {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

.wrapper::after {
  content: "";
  height: var(--footer-height, 0px);
  display: block;
  flex-shrink: 0;
}

.wrapper.section-single {
  background-image: url("../assets/images/projects/stars.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%; /* Full-width header */
}

main {
  flex: 1; /* Grow to fill available space */
  overflow-y: auto; /* Scroll if content overflows */

  width: 100%;
}

.section-container {
  padding: var(--lg-space);
  max-width: 1140px;
  /* max-width: 1040px; */
  margin: auto;
}

.section:not(:only-of-type) {
  padding: var(--xl-space) var(--sm-space);
  /* margin: 0 auto; */
}

.section-title {
  /* color: var(--peach-light); */
  color: black;
  text-shadow: 1px 1px 2px var(--sunset-haze), 0 0 1em var(--peach-light),
    0 0 0.2em var(--peach-light);
}

.section-title:not(#test-skills > .section-container > .section-title) {
  margin-bottom: var(--lg-space);
}

.section_subsection {
  padding: var(--md-space);
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 2px var(--peach-light);
  border-radius: var(--md-space);
}

.section_subsection:not(first-of-type) {
  margin-bottom: var(--xl-space);
}

.subsection-title {
  margin-bottom: var(--lg-space);
}

.subsection-title span {
  border-top: none;
  border-right: none;
  border-left: none;
  background-image: radial-gradient(
    circle at center,
    var(--crystal-blue),
    transparent
  );
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
}

footer {
  background: black;

  padding: var(--md-space);

  /* position: sticky; */
  /* bottom: 0; */

  width: 100%; /* Full-width footer */
}