/* ======================= */
/*     Normalize CSS       */
/* ======================= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

body {
  /* Add accessible line-height */
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
  /* font-family: system-ui, sans-serif; */
  font-family: var(--font-primary), sans-serif;
  font-size: calc(0.8em + 0.3vw);
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* ul {
  text-align: left;
} */

h1 {
  font-size: calc(2em + 0.3vw);
}

h2 {
  font-size: calc(1.5em + 0.3vw);
}

h3 {
  font-size: calc(1em + 0.3vw);
  margin-bottom: var(--md-space);
}

h4 {
  font-size: calc(0.9em + 0.3vw);
}

h5 {
  font-size: calc(0.8em + 0.3vw);
}

h6 {
  font-size: calc(0.7em + 0.3vw);
}

p {
  font-size: calc(0.75em + 0.3vw);
}
