.wrapper.photo-credit {
  background-image: url("../assets/images/projects/stars.webp");
  background-position: center center;
  background-size: cover;
}

.photo-credit figure.animated-border {
  margin-bottom: var(--lg-space);
  padding: var(--md-space);
}

.photo-credit .section-title img {
  width: min(calc(100vw - 3em), 500px);
  margin-bottom: var(--lg-space);
}

figure.animated-border img {
  display: block; /* removes default inline gap */

  width: 100%; /* responsive scaling */
  max-width: 300px;
  margin: auto;
  height: auto; /* keeps aspect ratio */
  border-radius: 4px; /* optional, to soften edges */
}

figure.animated-border img:hover {
  filter: brightness(1.3);
}
