.wrapper.photo-credit {
  background-image: url("../assets/images/projects/stars.webp");
  background-position: center center;
  background-size: cover;
}

.photo-credit div.animated-border {
  margin-bottom: var(--lg-space);
  padding: var(--md-space);
}

.photo-credit .section-title img {
  width: min(calc(100vw - 3em), 400px);
  margin-bottom: var(--lg-space);
}
