#projects {
  position: relative;
  background: var(--dark);
  background-image: url("../assets/images/animations/stars-2.png");
  padding: var(--xl-space) var(--md-space);
}

#projects > section > div:nth-child(odd) {
  margin-left: auto;
}

.project-card {
  max-width: 350px;
  text-align: center;
  margin: var(--xl-space) 0;
  background: var(--dark);
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.project-card > .card-header {
  padding: var(--md-space);
}

.project-card .card-header img {
  height: 150px;
  width: 150px;
  box-shadow: 0 0 10px 3px var(--brandPrimary);
}

.project-title {
  max-width: 100px;
  margin: auto;
}

.project-card > .description {
  background: var(--dark);
  padding: var(--sm-space);
}

.project-card > .link-bar {
  display: flex;
  justify-content: space-between;
  background: var(--dark);
  padding: var(--md-space);
}

.project-card > .link-bar p {
  border: 1px solid red;
  padding: var(--sm-space);
}
