#projects {
  position: relative;
  background: var(--dark);
  background-position: center;
  padding: var(--lg-space) 0 0;
}

#projects .section-title img {
  width: min(calc(100vw - 3em), 400px);
  margin-bottom: var(--lg-space);
}

.project-card:nth-of-type(even) {
  background: rgb(224, 187, 248);
  background: linear-gradient(
    180deg,
    rgba(224, 187, 248, 0.3) 0%,
    rgba(255, 255, 255, 0) 30%
  );
}

.project-card:nth-of-type(odd) {
  background: rgb(255, 212, 185);
  background: linear-gradient(
    180deg,
    rgba(255, 212, 185, 0.3) 0%,
    rgba(255, 255, 255, 0) 30%
  );
}

.project-card {
  max-width: 400px;
  text-align: center;
  margin: 0 auto var(--lg-space);
  border-radius: 1.5rem;
  z-index: 10;
}

@media screen and (min-width: 580px) {
  .project-card {
    margin: 0 0 var(--lg-space);
  }
}

@media screen and (min-width: 580px) {
  #projects > section > .project-card:nth-child(odd) {
    margin-left: auto;
  }
}

.project-card > .card-header {
  padding: var(--lg-space) 0;
}

.project-card .project-img {
  border-radius: 1.5rem;
  background: black;
  height: 150px;
  width: 150px;
  min-height: 150px;
  min-width: 150px;
}

.project-card:nth-of-type(even) img {
  box-shadow: 0 0 3px var(--luminous-lilac);
}

.project-card:nth-of-type(odd) img {
  box-shadow: 0 0 3px var(--peach-light);
}

.project-card > .card-body {
  background: black;
}

.project-card:nth-of-type(even) .card-body > h3 {
  color: var(--orchid-glow);
  text-shadow: 0 0 15px var(--luminous-lilac);
}

.project-card:nth-of-type(odd) .card-body > h3 {
  color: var(--sunset-haze);
  text-shadow: 0 0 15px var(--peach-light);
}

.project-card .project-description {
  padding: var(--lg-space);
  font-size: 0.75em;
  text-align: left;
}

#authcore-see-more,
#coreUI-see-more,
#lunaTrix-see-more,
#bookclub-see-more,
#under-construction-see-more {
  text-align: left;
  display: none;
}

.project-card > .card-footer {
  display: flex;
  justify-content: space-between;
  padding: var(--md-space);
}

.card-footer > a {
  background: black;
  color: var(--azure-breeze);
  border: 1px solid var(--azure-breeze);
  border-radius: 0.25rem;
  box-shadow: 2px 1px 5px var(--azure-breeze);
  padding: var(--sm-space);
  align-self: center;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
}

.card-footer > a:hover {
  background: var(--azure-breeze);
  color: black;
}
