#projects {
  position: relative;
  background: var(--dark);
  background-image: url("../assets/images/projects/stars.webp");
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-position: center;
  padding: var(--xl-space) 0;
}

#projects > section > div:nth-child(odd) {
  margin-left: auto;
}

.project-card {
  max-width: 350px;
  text-align: center;
  margin: var(--xl-space) 0;
  background: var(--dark);
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  box-shadow: 0 0 3px var(--peach-light);
}

.project-card > .card-header {
  padding: var(--lg-space) 0;
  /* font-size: 98%; */
  font-size: 30px;
  /* color: var(--luminous-lilac); */
  box-shadow: 0 3px 3px -3px var(--peach-light);
  /* border-bottom: 1px solid var(--luminous-lilac); */
  margin-bottom: var(--sm-space);
}

.project-card .project-img {
  max-height: 150px;
  max-width: 150px;
}

/* .project-title {
  margin: 0 auto;
} */

.project-card .project-description {
  padding: var(--sm-space);
  font-size: 0.75em;
}

#authcore-see-more,
#coreUI-see-more,
#lunaTrix-see-more,
#bookclub-see-more,
#under-construction-see-more {
  text-align: left;
  display: none;
}

.project-card > .card-footer {
  display: flex;
  justify-content: space-between;
  background: var(--dark);
  padding: var(--md-space);
}

.project-card > .card-footer p {
  padding: var(--sm-space);
}

.card-footer > a {
  color: var(--azure-breeze);
  border: 1px solid var(--azure-breeze);
  border-radius: 0.25rem;
  box-shadow: 2px 1px 5px var(--azure-breeze);
  padding: var(--sm-space);
  align-self: center;
  cursor: pointer;
  text-decoration: none;
}
.card-footer > a:hover {
  background: var(--azure-breeze);
  color: black;
}
