#skills {
  padding: var(--xl-space) 0;
  backdrop-filter: blur(5px);
}

.skills-container {
  padding: var(--lg-space);
  text-align: center;
}

.skills-1,
.skills-2 {
  display: flex;
  padding: var(--sm-space);
  justify-content: space-around;
}

#skills i {
  font-size: calc(1em + 1vw);
  background: black;
  color: var(--peach-light);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 0px 5px var(--peach-light);
  height: 60px;
  width: 60px;
}
