#skills {
  margin: var(--xl-space) 0;
}

img.skills {
  text-align: center;
}

.skills-container {
  padding: var(--lg-space);
  text-align: center;
}

.skills-1 > i,
.skills-2 > i {
  font-size: calc(1em + 1vw);
  background: black;
  color: var(--brandPrimary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--brandPrimary);
  box-shadow: 0px 0px 3px var(--brandPrimary);
  height: 60px;
  width: 60px;
}
